.inner {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: $screen-small) {
        width: 800px;
    }
}

img {
    width: 100%;
    border-radius: 0.4rem;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card {
        
        border: 2px solid $color-grey-60;
        border-radius: 0.8rem;
        padding: 0.8rem;
        width: 100%;
        margin: 2.4rem 1.6rem;

        @media screen and (min-width: $screen-small) {
            width: 200px;
        }
    }
}