.inner .home{
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: $screen-xsmall) {
        max-width: 600px;
    }
    @media screen and (min-width: $screen-medium) {
        max-width: 600px;
    }
    @media screen and (min-width: $screen-large) {
        max-width: 600px;
    }
}

.inner .board{
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: $screen-xsmall) {
        max-width: 600px;
    }
    @media screen and (min-width: $screen-medium) {
        max-width: 900px;
    }
    @media screen and (min-width: $screen-large) {
        max-width: 1200px;
    }
}

img {
    width: 100%;
    border-radius: 0.4rem;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (min-width: $screen-large) {
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 1200px;
    }
   

    .card {
        height: fit-content;
        border: 2px solid $color-brand-40;
        // background: white;
        background: linear-gradient(white, white 94%, $color-brand-20);
        border-radius: 0.8rem;
        padding: 0.8rem;
        width: 31%;
        margin: 1.6rem 0.8rem;
        box-shadow: 2px 2px 8px $color-brand-60;

        @media screen and (min-width: $screen-small) {
            width: 200px;
        }

        .quote {
            margin: 0;
            padding: 0;
            font-style: italic;
            &:before {
                content: '"';
            }
            &:after {
                content: '"';
            }
        }
        .date {
            font-size: 0.8rem;
            color: $color-grey-40;
        }
    }
}