$color-brand-10: #f4faf5;
$color-brand-20: #d1f0d6;
$color-brand-30: #82d175;
$color-brand-40: #78c06c;
$color-brand-50: #56824f;
$color-brand-60: #344732;

$color-grey-10: #f2f6f7;
$color-grey-20: #e1eaec;
$color-grey-30: #bac4c8;
$color-grey-40: #89949b;
$color-grey-50: #4b555c;
$color-grey-60: #2b2f32;

$color-focus: #f9c506;
$color-highlight: #fdf0c1;
$color-highlight-copy: #957604;
$color-white: #FFFFFF;
$color-black: #222222;