$color-brand-10: #e7f5f7;
$color-brand-20: #c1e6ea;
$color-brand-30: #85d1d7;
$color-brand-40: #00afb9;
$color-brand-50: #006a6f;
$color-brand-60: #013d41;

$color-grey-10: #f2f6f7;
$color-grey-20: #e1eaec;
$color-grey-30: #bac4c8;
$color-grey-40: #89949b;
$color-grey-50: #4b555c;
$color-grey-60: #2b2f32;

$color-focus: #f9c506;
$color-highlight: #fdf0c1;
$color-highlight-copy: #957604;
$color-white: #FFFFFF;
$color-black: #222222;